#title{
  background-color:#ff4c68;
  color:#fff;
}
h1{
  font-family:"Montserrat-Black";
  font-size: 3 rem;
  line-height: 1.5;

}
.container-fluid{
  padding: 3% 15%;
}
body{
  font-family: "Montserrat";
    font-weight: bold;
}
.navbar{
  padding-bottom: 4.5rem;
}
.navbar-brand{
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;

}
.nav-item{
  padding: 0 18px;
  font-weight: bolder;

}
.nav-link{
    font-size: 1.2rem;

}

.downloadbutton{
  margin:5% 3% 5% 0;
}
.titleimage{
  width: 60%;
  transform: rotate(25deg);
}
#features{
  padding:7% 15%
}
.featurebox{
  text-align: center;
  padding: 5%;
}
h3{
  font-family: "Montserrat-Bold"
}
p{
  color:#8f8f8f;
}
.icon{
  color:#ef8172;
  margin-bottom: 1rem;

}
.icon:hover{
  color:#ff4c68;
}
#testimonials{

  text-align: center;
  background-color: crimson;
  color: #fff;
}
h2{
  font-family: "Montserrat-Bold";
  font-size: 3rem;
  line-height: 1.5;
}
.testimonialimage{
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}
#press{
  background-color: crimson;
  text-align: center;
  padding-bottom: 3%;
}
.presslogo{
  width: 15%;
  margin:20px 20px 50px;
}
.carousel-item {
  padding:7% 15%;
}
#pricing{
  padding:100px;
  text-align: center;
}
#cta{
  background-color: crimson;
  color: #fff;
  padding: 7% 15%;
  text-align: center;

}
.ctaheading{
  font-family: "Montserrat-Black";
  font-size: 3.5rem;
  line-height: 1.5;

}
#footer{
  padding: 7% 15%;
  text-align: center;

}
.socialicon{
  margin: 20px 10px;
}
